<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>load-balancer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>SuperServlet</servlet-name>
  	<servlet-class>com.sivalabs.loadbalancer.web.SuperServlet</servlet-class>
  	<init-param>
  		<param-name>SERVER_PICK_STRATEGY</param-name>
  		<param-value>ROUND_ROBBIN</param-value>
  	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SuperServlet</servlet-name>
  	<url-pattern>/SuperServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>LBServlet</servlet-name>
  	<servlet-class>com.sivalabs.loadbalancer.web.LBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LBServlet</servlet-name>
  	<url-pattern>/LBServlet</url-pattern>
  </servlet-mapping>
  
</web-app>